
Item 3/Acme-HackerRank/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Sample-Project/pom.properties

*.class

Item 2/Acme Hacker Rank Domain Model\.asta\.bak

Item 3/Acme-HackerRank/target/classes/Entities\.map

Item 3/Acme-HackerRank/target/classes/
Item 3/Acme-HackerRank/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Sample-Project/pom.properties
